
<form *ngIf="loginshow"  #formlog="ngForm">
  <label> login</label>
  <input required ngModel name="login" type ="text">
  <br>
  <label >password</label>
  <input required ngModel name="password" type ="text">
  <br>
  <p *ngIf="incorect" >incorect login or password</p>


  <button  [disabled]="formlog.invalid" type="button" (click)="Login(formlog)">login</button>
  <button   type="button" (click)="regshow()">registration</button>
</form>

<form *ngIf="showreg"  #formreg="ngForm">
  <p *ngIf="info">{{answer}}</p>
  <label> login</label>
  <input required ngModel name="login" type ="text">
  <br>
  <label >password</label>
  <input required ngModel name="password" type ="text">
  <br>


  <button  [disabled]="formreg.invalid" type="button" (click)="singup(formreg)">sing up</button>
  <button   type="button" (click)="regshow()">cansel</button>
</form>

<router-outlet></router-outlet>
